@charset "UFT-8"

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;

}

header {
    background-color: rgba(128, 128, 128, 0.548);
    
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
    
}


nav li {
    display: inline;
    margin: 0 0 0 15px;
}
    nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    background-color: rgba(243, 161, 10, 0.288);
    text-decoration: underline;
}

main {
    width: 940px;
    margin: auto;
}

form {
    margin: 30px 0;
}
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
}
.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.horario {
    margin: 10px 10px 10px 10px;
}
.opção {
    margin-top: 10px;
}
.checkbox {
    margin: 20px 0;
    
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 1s;
    border: 0ch;
    cursor: pointer;
    margin-top: 20px;

}
.enviar:hover {
    background-color: darkorange;
    transform: scale(1.2);
}

.texto {
        color: white;
        font-size: 13px;
        margin-top: 15px;
}
table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}
table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}
footer {
    text-align: center;
    background-color: rgb(26, 24, 24);
}
